/* This file provides site wide styles as well as styles to index.html */
body{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    
}
h1{
    text-align: center;
}
button{
    color: white;
}
a{
    color: white;
}


/* Styles on the list of decks on indext.html */
#deckList{
    list-style: none !important;
}
.deckListing{
    background-color: #2b3447;
    padding: 16px;
    padding-left: 32px;
    border-radius: 8px;
    margin: 16px;
}
.deckListing:hover{
    background-color: #444c5d;
    border: solid 2px #007a50;
}



