
<li class="card">
    <button class="deleteButton" type="button" onclick="deleteCard(this)"><img src="/static/img/delete-trash.svg" alt=""></button>

    <br>
    <h4>Side 1:</h4>  
    <input required class="cardSideText" value="{{ .Question }}" name="question[]"></input>
    <h4>Side 2:</h4>  
    <input required class="cardSideText" value="{{ .Answer }}" name="answer[]"></input>
</li>


<button 
    id="replaceme"
    type="button"
    hx-get="/createcardtemplate"
    hx-target="#replaceme"
    hx-swap="outerHTML">
    Add a card
</button>