<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flashcard App</title>

    <link rel="icon" type="image/svg" href="/static/img/book.svg">


    <link rel="stylesheet" href="/static/pico.blue.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/study.css">
    <script src="/scripts/study.js" defer></script>
    
    <link rel="stylesheet" href="/static/notyf.min.css">
    <script src="/scripts/notyf.min.js"></script>
    

</head>
<body>
    <a href="/home"><img src="/static/img/book.svg" alt="Book svg"></a>
    

   <h1>Study {{.Deck.Name}}</h1>
   <a href="/deck/{{.Deck.ID}}">Back To Deck</a>
    <button id="shuffleButton" onclick="shuffleCards()"><img src="/static/img/shuffle.svg" alt="shuffle Icon"></button>
   
   

   <div id="cardContainer" onclick="flipCard(this)">
        <div id="card">
            <div id="cardFront">
                <p class="cardText" id="frontText"></p>
            </div>

            <div id="cardBack">
                <p class="cardText" id="backText"></p>
            </div>
        </div>
    </div>



   
    <div id="buttonContainer">
        <button onclick="previousCard()">Previous</button>
        <button onclick="nextCard()">Next</button>
   </div>
   

   
</body>
</html>
